Client_Web_Application/Service References/TeamServiceReferenceCourseRegistration/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CourseRegistration.Service" />
  <xs:element name="RegisterCourseForEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CourseRegistration.Service" minOccurs="0" name="svcParticipant" nillable="true" type="q1:SvcParticipant" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CourseRegistration.Service" minOccurs="0" name="svcCourseClass" nillable="true" type="q2:SvcCourseClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCourseForEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CourseRegistration.Service" minOccurs="0" name="RegisterCourseForEmployeeResult" nillable="true" type="q3:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>