Client_Web_Application/Service References/TeamServiceReferenceCourseRegistration/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CourseRegistration.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CourseRegistration.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SvcParticipant">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DietaryRequirement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmploymentStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="tns:Gender" />
      <xs:element minOccurs="0" name="IdNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationSize" type="tns:OrganizationSize" />
      <xs:element minOccurs="0" name="SalaryRange" type="tns:SalaryRange" />
      <xs:element minOccurs="0" name="Salutation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SvcParticipant" nillable="true" type="tns:SvcParticipant" />
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Female" />
      <xs:enumeration value="Male" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:simpleType name="OrganizationSize">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Less_Than_20" />
      <xs:enumeration value="From_20_To_200" />
      <xs:enumeration value="From_200_To_500" />
      <xs:enumeration value="More_Than_500" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrganizationSize" nillable="true" type="tns:OrganizationSize" />
  <xs:simpleType name="SalaryRange">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Less_Than_60k" />
      <xs:enumeration value="From_60_To_90k" />
      <xs:enumeration value="From_90k_To_120k" />
      <xs:enumeration value="More_Than_120k" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SalaryRange" nillable="true" type="tns:SalaryRange" />
  <xs:complexType name="SvcCourseClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClassId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SvcCourseClass" nillable="true" type="tns:SvcCourseClass" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bResult" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
</xs:schema>