Client_Web_Application/Service References/TeamServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CourseRegistration.Service" />
  <xs:element name="GetStudentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="classId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CourseRegistration.Service" minOccurs="0" name="GetStudentListResult" nillable="true" type="q1:ArrayOfSvcStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitAttendance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="participantId" type="xs:int" />
        <xs:element minOccurs="0" name="classId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitAttendanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CourseRegistration.Service" minOccurs="0" name="SubmitAttendanceResult" nillable="true" type="q2:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>